<%= form_with(model: product, local: true) do |form| %>

<div class="form-group">
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "textFields" %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    </div>

    <div class="form-group">
      <%= f.submit %>
      </div>
<% end %>
