<div class="form">
  <div class="card sign-in">
    <div class="card-body mx-4">

        <div class="text-center">
          <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="md-form">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your email"%>
          </div>

          <div class="md-form pb-3">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your password" %>
            <label for="Form-pass1"></label>
            <p class="font-small blue-text d-flex justify-content-end">Forgot <%= link_to "Password?", new_password_path(resource_name), class: "blue-text ml-1" %></p>
          </div>

          <div class="text-center mb-3">
            <%= f.submit "Sign in", class: "btn blue-gradient btn-block btn-rounded z-depth-1a" %>
          </div>
        <% end %>
      </div>

      <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">Not a member? <%= link_to "Sign up", new_registration_path(resource_name), class: "blue-text ml-1" %></p>
      </div>
  </div>
</div>
