<% if signed_in? %>
<h4>Add a review:</h4>
<%= form_for([@product, @product.comments.build], remote: true, local: true) do |f| %>
<div class="form-group">
  <p>
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body, rows: 5, placeholder: "Enter your comment", require: true %>
  </div>
  <p>
    <div class="average rating">
      <%= f.label :body, "Rating" %><br>
    </div>
  </p>
  <div class="action">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
  <% end %>
  <% end %>
