
<div class="col-sm-6 col-md-4">
  <%  if product.image_url %>
    <%= image_tag(product.image_url, class: "img-fluid") %>
    <% end %>
<h1><%= link_to product.name, product %></h1>
  <p><%= product.description %></p>
  <p><%= product.colour %></p>
  <strong> $ <%= product.price %></strong>
<td><%= link_to 'Show', product %></td>
<td><%= link_to 'Edit', product %></td>
<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div><!-- /col -->
