<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
  <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: "@product.image_url") %>
      <% cache @product do %>
      <p><strong>Name:</strong></p>
      <%= @product.name %>
      <hr>
      <p><strong>Description:</strong></p>
        <%= @product.description %>
        <hr>
      <p><strong>Colour:</strong></p>
        <%= @product.colour %>
        <hr>
      <p><strong>Price:</strong></p>
        <%= @product.price %>
        <% end %>
        <hr>
      <p><strong>Average Ratings:</strong></p>
     <h6>Highest rating of the products: </h6>
      <%= @product.comments.rating_desc.first %>
     <h6>Lowest rating of the products: </h6>
       <%= @product.comments.rating_asc.first %>
        <hr>

        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
        </div>

        <%= render 'new_comment' %>
    


    </div>
   </div>
