<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-8">
      <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: "@product.image_url") %>
      <% cache @product do %>
      <p><strong>Name:</strong></p>
      <%= @product.name %>
      <p><strong>Description:</strong></p>
      <%= @product.description %>
      <p><strong>Colour:</strong></p>
      <%= @product.colour %>
      <p><strong>Price:</strong></p>
      <%= number_to_currency(@product.price, :unit => "€") %>
      <% end %>
    </div>
  </div>
  <strong>Average Rating:</strong>
  <div id="rating1"><%= render partial: "shared/rating" %></div>
  <div id="rating2"></div>
  <hr>
  <%= form_with(url: '/payments/create') do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
  <%= render 'new_comment' %>
  <div class="alert alert-info" style="display:none" role="alert">New comment was posted!</div>
  <p><%= render 'comments' %></p>
  <div class="pagination-content"><%= will_paginate @comments %></div>
</div>
</div> <!-- end of column-->


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
