<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
  <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: "@product.image_url") %>
      <% cache @product do %>
      <p><strong>Name:</strong></p>
      <%= @product.name %>
      <hr>
      <p><strong>Description:</strong></p>
        <%= @product.description %>
        <hr>
      <p><strong>Colour:</strong></p>
        <%= @product.colour %>
        <hr>
      <p><strong>Price:</strong></p>
        <%= @product.price %>
        <% end %>
        <hr>
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        <% if @product.comments.exists? %>
      <h6>Highest rating of the products: </h6>
       <p><%= @product.first.highest_rating_comment.body %></p>
      <h6>Lowest rating of the products: </h6>
        <p><%= @product.first.lowest_rating_comment.body %></p>
         <hr>
         <% end %>

        <div class="col-md-6">
        <%= render 'new_comment' %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>

          <div class="col-md-6">
          <%= render 'comments' %>
      </div>
   </div>
</div>
