<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Santo Varal Store</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>
  <body>

    <%= flash[:notice] %>

    <!-- Navbar band -->
    <nav class="navbar navbar-expand-lg-right navbar-light bg-light">
      <a class="navbar-header" href="#">SantoVaral Store</a>
      <div clas="collapse navbar-collapse" id="navbar-content">
        <div class="container-fluid">
            <div class="navbar-header">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <%= link_to "Home", root_path %><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item active">
                  <%= link_to "About", simple_pages_about_path %>
                </li>
                <li class="nav-item active">
                  <%= link_to "Contact", simple_pages_contact_path %>
                </li>
                <li class="nav-item active">
                  <%= link_to "Products", products_path %>
                </li>
          <div id="user_nav">
            <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or
            <%= link_to "sign in", new_user_session_path %>
            <% end %>
            <li>
            <form role="form" class="form-inline">
                <%= form_with(url: products_path, method: 'get', local:true) do |form| %>
                <%= form.label :q, 'Search for:' %>
                <%= form.text_field :q, id: 'q', value:params[:q] %>
                <%= form.submit 'Search' %>
              </form>
              <% end %>
            </li>
          </ul>
        </nav> <!-- end nav container -->

        <div class="container">
        <% if notice %>
          <p id="notice" class="alert alert-primary"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger alert-note" role="alert"><%= alert %></p>
        <% end %>
        </div>

      <%= yield %>

      <footer class="site-footer">
        &copy, 2019 Santo Varal Store
      </footer>

    </body>
    </html>
