<!DOCTYPE html>
<html lang="en">

<head>

  <title>Santo Varal Store</title>

  <link rel="stylesheet" type="css" href="../../assets/stylesheets/normalize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>

<%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

</head>
<body>

  <!-- Navbar band -->
  <nav class="navbar navbar-expand-lg-right navbar-light bg-light">
    <a class="navbar-header" href="#">Santo Varal Store</a>
    <div clas="collapse navbar-collapse" id="navbar-content">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Home", root_path %><span class="sr-only">(current)</span>
            </li>
            <li class="nav-item active">
              <%= link_to "About", simple_pages_about_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "Contact", simple_pages_contact_path %>
            </li>
            <li class="nav-item active">
              <%= link_to "Products", products_path %>
              <li class="nav-item active">
                <%= link_to "Orders", orders_path %>
            </li>
            <div id="user_nav">
              <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <% else %>
              <%= link_to "Sign up", new_user_registration_path %> or
              <%= link_to "Sign in", new_user_session_path %>
              <% end %>
              <li>
                <%= form_with(url: products_path, method: 'get', local:true, :html => {:class => 'form-inline', 'role' => 'form'}) do |form| %>
                <%= form.label :q, 'Search for:' %>
                <%= form.text_field :q, id: 'q', value:params[:q] %>
                <%= form.submit 'Search' %>
                <% end %>
              </li>
            </ul>
          </nav> <!-- end nav container -->
          <div class="container">
            <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% elsif alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>

          <%= yield %>

          <div class="footer">
            <div class="container">
              <p class="text-muted"><span class="glyphicon glyphicon-grain"></span>
          <footer class="site-footer">
            &copy, 2019 Santo Varal Store
          </footer>

        </body>
        </html>
        
